body{
    background: #fffff8;
    font-family: 'Roboto', sans-serif;
}

#app{
    display: block;
    height: 90%;
    background: #ffffff;
    color: #1c1c1c;
    font-size: 16px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .12), 0 0 8px 0 rgba(0, 0, 0, .08);
    width: 80%;
    margin: 40px auto;
    padding: 40px 30px;
}

.holder{

}


#entryHolder{
    margin-top:20px;
}

#date,#temp,#content{
    padding-bottom:8px;
}

.headline {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}
.title{
    padding: 15px;
    color: #fff;
    background-color:#848484;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display: block;
    font-size: 16px;
    padding-bottom: 15px;
}

input,
textarea{
    display: block;
    padding: 5px;
    color: #404040;
    font-size: 16px;
    border: 1px solid #eaeaea;
    margin-bottom: 15px;
}
input{
    height: 30px;
    width: 320px;
}
textarea{
    width:90%;
    height:100px;
    resize: none;
}
button{
    width: 270px;
    height: 40px;
    background: #404040;
    color: #fff;
    font-size: 20px;
    border: none;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .12), 0 0 8px 0 rgba(0, 0, 0, .08);
    display: block;
    margin: 30px auto;
}
h1{
    font-size: 36px;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder { 
    color: #404040;
} 